body {
  height: 400px;
  width: 345px;
  color: white;
  background-color: #23384c;
}

#header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.main-content {
  text-align: center;
  flex-grow: 10;
}

#search-stop-info {
  display: none;
  color: #fbff07;
}

#loading-info {
  display: none;
  color: #2bc400;
}

.loader {
  margin: auto;
  border: 5px solid #c9ffa3;
  border-radius: 50%;
  border-top-color: #38fd01;
  border-bottom-color: #38fd01;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container-item {
  flex-grow: 4;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

button {
  position: relative;
  width: 140px;
  height: 50px;
  color: white;
  font-size: 14px;
  font-weight: 550;
  background-color: #3367d6;
  border: solid #3367d6 1px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
}

button:after {
  content: "";
  display: block;
  background-color: #fff;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

button:disabled {
  opacity: 0.5;
}

#start-stop-button {
  background-color: #45f714;
  border-color: #45f714;
  color: #23384c;
}
